thead tr,
tbody tr{
    text-align: center;
    vertical-align: middle;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: none;
}